<aio-modal class="aio-native-modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <a class="close stackable-cancel">&times;</a>
            <h3 class="modal-title">Find Your Wallet</h3>
          </div>
        </div><!-- /.modal-header -->
        <div class="modal-body">
          <p>
            If you enabled wallet discovery with your provider, please enter
            your discovery email address and password to find your wallet and
            register with this device.
          </p>
          <p ng-if="!$ctrl.onCustomRegistration">
            If you haven't enabled wallet discovery, please visit your wallet
            provider's website to register.
          </p>
          <p ng-if="$ctrl.onCustomRegistration">
            If you haven't enabled wallet discovery, please
            <a ng-click="$ctrl.onCustomRegistration()">visit your wallet
            provider's website</a> to register with this device.
          </p>
          <div class="row">
            <form name="$ctrl.addIdentityForm" class="form-horizontal aio-form" role="form">
              <fieldset>
                <div class="form-group"
                  ng-class="{
                    'has-error': $ctrl.addIdentityForm.email.$touched &&
                      $ctrl.addIdentityForm.email.$invalid
                  }">
                  <label class="control-label col-sm-12"
                    for="email">Discovery Email</label>
                  <div class="input-group col-sm-12">
                    <input class="form-control" name="email"
                      ng-model="$ctrl.email"
                      ng-disabled="$ctrl.loading"
                      ng-keyup="$event.keyCode === 13 && !$ctrl.loading &&
                        $ctrl.email && $ctrl.passphrase && $ctrl.add()"
                      ng-minlength="6"
                      ng-maxlength="128"
                      ng-change="$ctrl.error = null"
                      autofocus required>
                  </div>
                  <div class="col-sm-12 text-danger"
                    ng-if="$ctrl.addIdentityForm.email.$touched &&
                      $ctrl.addIdentityForm.email.$invalid"
                      style="margin-top: 5px">
                    <p ng-show="$ctrl.addIdentityForm.email.$error.required">
                      Email is required. Please enter the email address you
                      registered for wallet discovery.
                    </p>
                    <p ng-show="$ctrl.addIdentityForm.email.$error.minlength">
                      Email is required to be at least 6 characters.
                    </p>
                    <p ng-show="$ctrl.addIdentityForm.email.$error.maxlength">
                      Email must not be longer than 128 characters.
                    </p>
                  </div>
                </div>
                <div class="form-group"
                  ng-class="{
                    'has-error': $ctrl.addIdentityForm.passphrase.$touched &&
                      $ctrl.addIdentityForm.passphrase.$invalid
                  }">
                  <label class="control-label col-sm-12"
                    for="passphrase">Discovery Password</label>
                  <div class="input-group col-sm-12">
                    <input class="form-control" name="passphrase"
                      type="password"
                      ng-model="$ctrl.passphrase"
                      ng-disabled="$ctrl.loading"
                      ng-keyup="$event.keyCode === 13 && !$ctrl.loading &&
                        $ctrl.passphrase && $ctrl.passphrase && $ctrl.add()"
                      ng-minlength="6"
                      ng-maxlength="128"
                      ng-change="$ctrl.error = null"
                      required>
                  </div>
                  <div class="col-sm-12 text-danger"
                    ng-if="$ctrl.addIdentityForm.passphrase.$touched &&
                      $ctrl.addIdentityForm.passphrase.$invalid"
                      style="margin-top: 5px">
                    <p ng-show="$ctrl.addIdentityForm.passphrase.$error.required">
                      Password is required. Please enter the password you
                      registered for wallet discovery.
                    </p>
                    <p ng-show="$ctrl.addIdentityForm.passphrase.$error.minlength">
                      Password is required to be at least 6 characters.
                    </p>
                    <p ng-show="$ctrl.addIdentityForm.passphrase.$error.maxlength">
                      Password must not be longer than 128 characters.
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="$ctrl.permanent"
                          style="margin-top: 1px"
                          ng-change="$ctrl.error = null">
                          Remember wallet on this device
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 text-danger" style="margin-top: 10px"
                  ng-show="$ctrl.error">
                  {{$ctrl.error.message}}
                </div>
              </fieldset>
            </form>
          </div>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <span ng-show="$ctrl.generating">Please wait, this may take a minute...</span>
          <span ng-show="$ctrl.loading">
            <i class="fa fa-refresh fa-spin text-muted"></i>
          </span>
          <span>
            <button type="button" class="btn btn-default aio-button"
              ng-disabled="$ctrl.loading || !$ctrl.email || !$ctrl.passphrase"
              ng-click="$ctrl.add()"><i class="fa fa-search"></i> Find</button>
          </span>
          <button type="button" class="btn btn-default aio-button stackable-cancel"
            ng-disabled="$ctrl.loading">Cancel</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</aio-modal>
