<!-- loading -->
<div ng-if="$ctrl.loading" class="aio-flex-column-stretch">
  <div class="text-center" style="flex: 1 1 auto">
    <i class="fa fa-gear fa-spin text-muted" style="font-size: 5em"></i>
  </div>
</div>
<!-- loaded, no identities and custom registration not enabled -->
<div ng-if="!$ctrl.loading && !$ctrl.enableRegistration && ($ctrl.identities | isEmpty)"
  class="aio-flex-column-stretch">
  <div class="aio-flex-item">
    <p>This device is not registered with a digital wallet provider.</p>
    <div>If you have a digital wallet, please visit your provider's
    website or use
    <a ng-click="$ctrl.showFindIdentityModal=true">wallet discovery</a> to
    find your wallet. Otherwise, please visit a digital wallet
    provider of your choice to create a new one.
    </div>
  </div>
</div>
<!-- loaded, identities available and/or custom registration enabled -->
<div ng-if="!$ctrl.loading && ($ctrl.enableRegistration || !($ctrl.identities | isEmpty))"
  class="aio-flex-column-stretch">
  <!-- available identities -->
  <div class="aio-flex-column-stretch aio-flex-item-grow">
    <div class="aio-flex-item"
      ng-repeat="(id, identity) in $ctrl.identities"
      ng-click="!ctrl.authenticating && $ctrl.select(id)">
      <div class="aio-identity-option">
        <!-- <i class="fa fa-user fa-3x pull-left" style="padding-left: 8px"></i> -->
        <span class="fa-stack fa-lg pull-left">
          <i class="fa fa-user fa-stack-2x"></i>
          <i ng-if="!$ctrl.isAuthenticated(identity.id)"
            class="fa fa-lock fa-stack-1x" style="margin-top: -7px; margin-left: 20px"></i>
        </span>
        <div class="text" style="margin-left: 60px;">
          <strong>{{identity.label}}</strong>
          <h6 class="text-muted"
            style="font-size: 11px; margin-top: 4px; margin-bottom: 4px;">
            <span ng-if="identity.sysRepoDomain">via {{identity.sysRepoDomain}}</span>
            <span ng-if="!identity.sysRepoDomain"><i class="fa fa-refresh fa-spin"></i></span>
          </h6>
        </div>
        <div ng-show="$ctrl.display.loginForm && $ctrl.selected === id">
          <form class="form-horizontal aio-form" name="$ctrl.loginForm"
            style="margin-left: -5px; margin-right: -5px">
            <fieldset>
              <div class="form-group"
                ng-class="{
                  'has-error': $ctrl.loginForm.password.$touched &&
                    $ctrl.loginForm.password.$invalid
                }">
                <label class="control-label col-sm-12"
                  for="password">Discovery Email</label>
                <div class="input-group col-sm-12">
                  <input class="form-control" name="password"
                    ng-model="$ctrl.password"
                    ng-disabled="$ctrl.authenticating"
                    ng-change="$ctrl.authenticationError = ''"
                    ng-click="$event.stopPropagation()"
                    autofocus required>
                </div>
                <div class="col-sm-12 text-danger"
                  ng-if="$ctrl.loginForm.password.$touched &&
                    $ctrl.loginForm.password.$invalid"
                    style="margin-top: 5px">
                  <p ng-show="$ctrl.loginForm.password.$error.required">
                    A password is required to unlock this identity.
                  </p>
                </div>
              </div>
              <p class="col-sm-12 text-danger" style="margin-top: 10px"
                ng-show="$ctrl.authenticationError">
                {{$ctrl.authenticationError}}
              </p>
              <div class="form-group" style="margin-top: 5px; margin-bottom: 0">
                <div class="input-group col-sm-12">
                  <div class="btn-group pull-right">
                    <button class="btn btn-default aio-button"
                      ng-disabled="$ctrl.authenticating || $ctrl.loginForm.$invalid"
                      ng-click="$event.stopPropagation(); $ctrl.authenticate(id, $ctrl.password)">
                        Unlock
                      <span ng-show="$ctrl.authenticating"> <i class="fa fa-refresh fa-spin"></i></span></button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- no identities available -->
  <div ng-if="($ctrl.identities | isEmpty)" class="aio-flex-item">
    To continue, you must register a digital wallet with this device.
  </div>
  <!-- custom registration enabled and no identities available -->
  <div ng-if="$ctrl.enableRegistration && ($ctrl.identities | isEmpty)"
    class="aio-flex-item text-center">
    <button class="btn btn-default aio-button" type="button"
      ng-click="$ctrl.onIdentitySelected({identity: null})">
      Get a Wallet</button>
  </div>
  <!-- separator before other choice link -->
  <div class="aio-separator aio-flex-item"></div>
  <!-- custom registration enabled, no identities available, and user wants
    to use another identity -->
  <div class="aio-flex-item text-center">
    <a ng-click="$ctrl.showFindIdentityModal=true">
      I don't see my wallet here
    </a>
  </div>
</div>
<stackable-modal stackable="$ctrl.showFindIdentityModal"
  stackable-closed="!err && $ctrl.onIdentitySelected({identity: result.id})"
  br-lazy-compile="$ctrl.showFindIdentityModal"
  br-lazy-id="aio-add-identity-modal">
  <!-- TODO: include identity filter as parameter to modal -->
  <aio-find-identity-modal
    aio-on-custom-registration="$ctrl.onIdentitySelected({identity: null})">
  </aio-find-identity-modal>
</stackable-modal>
