<div ng-hide="$ctrl.loading || !$ctrl.userMediationRequired"
  class="aio-native-modal">
  <!-- <div class="aio-arrow-up"></div> -->
  <div class="aio-native-modal-content">
    <div>
      <a ng-click="$ctrl.onDeny()"
        class="close aio-native-modal-close">&times;<span class="sr-only">Close</span></a>
    </div>
    <div style="min-width: 300px">
      <span><strong>{{$ctrl.domain}}</strong> wants to:</span>
    </div>
    <br>
    <div><i class="fa fa-id-card"></i> Register a digital wallet</div>
    <br>
    <div class="aio-button-bar" style="margin-top: 10px">
      <button
        ng-click="$ctrl.onDeny()"
        ng-disabled="$ctrl.registering || $ctrl.generating"
        type="button" class="btn btn-default aio-button">Deny
      </button>
      <button
        ng-click="$ctrl.onAllow()"
        ng-disabled="$ctrl.registering || $ctrl.generating"
        type="button" class="btn btn-default aio-button">Allow
      </button>
    </div>
    <div ng-if="$ctrl.generating || $ctrl.registering">
      <div style="border: 0; margin-top: 20px; margin-bottom: 10px; border-top: 1px solid #ccc"></div>
      <span>
        <i class="fa fa-refresh fa-spin text-muted"></i> Registering...
      </span>
    </div>
  </div>
</div>
