<div ng-controller="RequestController as model">
  <div ng-show="model.loginRequired" ng-init="model.redirect()">
    <h1 align="center">Log in</h1>
    <form class="form-horizontal" role="form">
      <fieldset>

        <br-input br-model="model.username"
          br-options="{name: 'username', label: 'Email'}">
          Please enter your preferred email address.
        </br-input>

        <br-input br-model="model.password"
          br-options="{name: 'password', label: 'Passphrase', type: 'password'}">
          Please enter your passphrase (for example: 42RhinosStampedeAtTeaTime).
        </br-input>

        <div style="text-align:center;">
          <input type="checkbox" name="public-terminal" ng-model="model.publicComputer"/> I'm using a public computer
        </div>

        <div style="text-align:center;">
          <button ng-disabled="model.generating" ng-click="model.login(model.username,model.password)" type="submit" class="btn btn-primary">Login</button>
        </div>

        <div style="text-align:center;" ng-show="model.generating">
          Securing your connection, this may take a minute...
          <i class="fa fa-refresh fa-spin text-muted"></i>
        </div>

      </fieldset>
    </form>
  </div>
  <div ng-hide="model.loginRequired">
    <p>Redirecting to your Identity Provider...</p>
  </div>
</div>
