<div class="row" ng-controller="RequestController as model">
  <div ng-show="model.display.identityChooser" ng-init="model.identityChooser()">
    <h1 class="col-md-offset-3" style="padding-left: 40px">
      <span ng-show="!model.identitySelected">Select an Identity</span>
      <span ng-show="model.identitySelected">Log In</span>
    </h1>
    <div class="col-md-offset-3 col-md-6">
      <div ng-hide="model.identitySelected && !identity.selected"
        class="well" ng-repeat="identity in model.identities">
        <div ng-show="identity.selected"
          style="padding-bottom: 5px; border-color: #aaaaaa; border-bottom-style: solid; border-bottom-width: 1px; margin-bottom: 15px;">
          <span ng-click="model.showAll(identity, loginForm);" style="cursor: pointer;">
            <i class="fa fa-reply-all"></i><span style="padding-left: 5px">show all</span>
          </span>
        </div>
        <div class="well" ng-class="{'br-selectable': !model.identitySelected}" ng-click="model.redirect(identity, loginForm)" style="cursor: pointer;">
          <i class="col-md-offset-1 fa fa-user fa-5x"></i>
          <span class="col-md-offset-2"><strong>{{ identity.label }}</strong></span>
        </div>
        <div ng-show="identity.selected">
          <hr/>
          <form name="loginForm">
            <fieldset>
              <br-input br-model="model.password"
                br-options="{name: 'password', label: 'Passphrase', type: 'password', showValidation: true, autofocus: true}"
                required>
                <div name="br-input-help">
                  Please enter your passphrase.
                </div>
                <div name="br-input-validation-errors">
                  <p ng-show="loginForm.password.$error.required">
                    Password is required.
                  </p>
                </div>
              </br-input>
              <div align="center">
                <button class="btn btn-primary" ng-disabled="loginForm.$invalid"
                  ng-click="model.login({identity: identity, password: model.password});">
                  Login
                </button>
              </div>
          </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="model.display.newIdentity">
    <h1 class="col-md-offset-3" style="padding-left: 40px">
      Log In
    </h1>
    <div class="well col-md-offset-3 col-md-6">
      <form name="newIdentityForm">
        <fieldset>
          <br-input br-model="model.email"
            br-options="{name: 'email', label: 'Email', showValidation: true, autofocus: true}"
            ng-maxlength="128" required>
            <div name="br-input-help">
              Please enter your email address.
            </div>
            <div name="br-input-validation-errors">
              <p ng-show="newIdentityForm.email.$error.required">
                Email is required.
              </p>
              <p ng-show="newIdentityForm.email.$error.maxlength">
                Email must not be longer than 128 characters.
              </p>
            </div>
          </br-input>
          <br-input br-model="model.password"
            br-options="{name: 'password', label: 'Passphrase', type: 'password', showValidation: true}"
            required>
            <div name="br-input-help">
              Please enter your passphrase.
            </div>
            <div name="br-input-validation-errors">
              <p ng-show="newIdentityForm.password.$error.required">
                Password is required.
              </p>
            </div>
          </br-input>
          <div class="checkbox col-md-offset-3" style="clear:both;" >
            <label>
              <input name="remember" ng-model="model.remember" type="checkbox">
              Remember me next time
            </label>
          </div>
          <div align="center">
            <button class="btn btn-primary" ng-disabled="newIdentityForm.$invalid || model.generating"
              ng-click="model.login({username: model.email, password: model.password, remember: model.remember})">
              Login
            </button>
          </div>
          <div style="text-align:center; padding-top: 15px;" ng-show="model.generating">
            Securing your connection, this may take a minute...
            <i class="fa fa-refresh fa-spin text-muted"></i>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div ng-show="model.display.storageRequest">
    <p>Redirecting to your Identity Provider...</p>
  </div>
</div>
