<div class="ng-cloak" ng-controller="aiodRegisterController as model">

  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Identity Provider: Registration</h1>
    </div>
  </div>

  <div class="row">
    <p>This is an account registration page for a simple demonstration Identity
      Provider (IdP).</p>
    <p>An IdP would normally ask you for some basic information
      like a username, email address, or other details in order to create a
      local account. A demo username has been provided here. The IdP can then
      link the local account to a decentralized account by asking your browser
      to generate a decentralized identity.</p>
    <p>Clicking the button below will create a new account with this demo
      IdP and then take you through the process to link it to a new
      decentralized identity.</p>
  </div>

  <hr/>

  <div class="row">
    <form name="model.regForm" class="form-horizontal" role="form" novalidate
      ng-submit="model.register()">
      <fieldset>
        <br-input br-model="model.username"
          br-options="{name: 'username', label: 'Username'}"
          ng-minlength="3" ng-maxlength="128" required>
          <br-input-help>
            Please enter a username to associated with your local account.
          </br-input-help>
          <br-input-validation-errors>
            <p ng-show="model.regForm.username.$error.required">
              Username is required.
            </p>
            <p ng-show="model.regForm.username.$error.minlength">
              Username is required to be at least 3 characters.
            </p>
            <p ng-show="model.regForm.username.$error.maxlength">
              Username must not be longer than 128 characters.
            </p>
          </br-input-validation-errors>
        </br-input>

        <div class="form-group">
          <div class="col-md-offset-3">
            <button type="submit" ng-disabled="model.loading || model.regForm.$invalid"
              class="btn btn-primary btn-lg">Register</button>
            <span ng-show="model.loading">
              <i class="fa fa-refresh fa-spin fa-lg"></i>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
