*.py[co]
*.sw[nop]
*~
.cache
.project
.settings
.vscode
TAGS
bower_components
configs/*-secrets.js
coverage
node_modules
npm-debug.log
reports
authn.localhost-error.log
authn.localhost-app.log
authn.localhost-access.log
authn.localhost-access1.log
bedrock
static/images/logo-*.png
