*.py[co]
*.sw[nop]
*~
.project
.settings
TAGS
bower_components
configs/*-secrets.js
coverage
node_modules
npm-debug.log
reports
authorization.dev-error.log
authorization.dev-app.log
authorization.dev-access.log
authorization.dev-access1.log
bedrock
cache
