<div class="ng-cloak" ng-controller="aiodCredentialManagerController as model">

  <div ng-if="model.loading">
    <span>
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </div>

  <div ng-if="!model.loading && model.view === 'get'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Identity Provider: Credential Request</h1>
      </div>
    </div>

    <div class="row">
      <p>Please select credentials to fulfill the request.</p>
      <br-identity-composer
        br-consumer-query="model.query"
        br-identity="model.identity"
        br-callback="model.complete(identity)">
      </br-identity-composer>
    </div>
  </div>

  <div ng-if="!model.loading && model.view === 'store'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Identity Provider: Credential Storage Request</h1>
      </div>
    </div>

    <div class="row">
      <p>Would you like to store these credentials for future use?</p>

      <pre>{{model.identity|json}}</pre>

      <button ng-click="model.complete(model.identity)" type="button"
        class="btn btn-primary">Store Credentials</button>
    </div>
  </div>
</div>
