<h1 align="center">IdP Credential Manager</h1>
<div ng-controller="CredentialManagerController as model">

  <pre>{{model.idp.identity|json}}</pre>

  <div ng-if="model.action === 'request'">
    Select this credential to fulfill the request?<br/>
    <button ng-click="model.transmit(model.idp.identity)" type="button"
      class="btn btn-primary">Compose Credential</button>
  </div>

  <div ng-if="model.action === 'store'">
    Store this credential in your vault?<br/>
    <button ng-click="model.store(model.idp.identity)" type="button"
      class="btn btn-primary">Store Credential</button>
  </div>

</div>
