<h1 align="center">Identity Provider: Registration</h1>

<div ng-controller="RegisterController as model">
  <form name="regForm" class="form-horizontal" role="form" novalidate
    ng-submit="registrationForm()">
    <fieldset>
        <br-input br-model="model.username"
          br-options="{name: 'email', label: 'Email'}"
          ng-minlength="6" ng-maxlength="128" required>
            <div name="br-input-help">
              Please enter your email address.
            </div>
            <div name="br-input-validation-error">
              <div class="alert alert-danger" ng-show="regForm.email.$invalid && regForm.submitAttempted">
                <small ng-show="regForm.email.$error.required">
                  Email is required.
                </small>
                <small ng-show="regForm.email.$error.minlength">
                  Email is required to be at least 6 characters.
                </small>
                <small ng-show="regForm.email.$error.maxlength">
                  Email must not be longer than 128 characters.
                </small>
              </div>
          </div>
        </br-input>
        <br-input br-model="model.passphrase"
           br-options="{name: 'passphrase', label: 'Passphrase', type: 'password'}"
           ng-minlength="6" ng-maxlength="128" required>
          <div name="br-input-help">
            Please enter a passphrase.
          </div>
          <div name="br-input-validation-error">
            <div class="alert alert-danger" ng-show="regForm.passphrase.$invalid && regForm.submitAttempted">
              <small ng-show="regForm.passphrase.$error.required">
                Passphrase is required.
              </small>
              <small ng-show="regForm.passphrase.$error.minlength">
                Passphrase is required to be at least 6 characters.
              </small>
              <small ng-show="regForm.passphrase.$error.maxlength">
                Passphrase must not be longer than 128 characters.
              </small>
            </div>
          </div>
        </br-input>
        <br-input br-model="model.passphraseConfirmation"
         br-options="{name: 'passphraseConfirmation',
         label: 'Confirm Passphrase', type: 'password'}"
         br-input-aio-matches-input="model.passphrase">
          <div name="br-input-help">
            Please confirm your passphrase.
          </div>
          <div name="br-input-validation-error">
            <div class="alert alert-danger"
              ng-show="regForm.passphraseConfirmation.$error.inputMatch &&
              regForm.submitAttempted">
              <small ng-show="regForm.passphraseConfirmation.$error.inputMatch">
                Passphrase and Confirm Passphrase must match.
              </small>
            </div>
          </div>
        </br-input>
      <div style="text-align:center;">
        <button ng-disabled="model.registering || model.generating"
          ng-click="model.validateForm()" type="submit"
          class="btn btn-primary">Register</button>
      </div>
      <div style="text-align:center;" ng-show="model.generating">
        Securing your login information, this may take a minute...
        <i class="fa fa-refresh fa-spin text-muted"></i>
      </div>
    </fieldset>
  </form>
</div>
