<div ng-controller="CredentialsController as model">

<p>
Do you want to send this information to {{model.callback}}?
</p>

<!--
<pre class="pre-scrollable">{{model.identity | json}}</pre>
-->
<br-identity
  br-identity="model.identity"
  br-show-actions="false"></br-identity>

<button ng-click="model.transmitCredentials()" type="button"
  ng-disabled="model.transmitDisabled"
  class="btn btn-primary">Send Credentials</button>
<button ng-click="model.transmitCredentials()" type="button"
  class="btn btn-primary">Cancel</button>
</div>
