<div ng-controller="CredentialsController as model">
  <div ng-if="model.confirmTransmission">
    <p>
    Do you want to send this information to {{model.callback}}?
    </p>

    <!-- FIXME: use br-identity directive once implemented
    <!-- <br-identity
      br-identity="model.identity"
      br-show-actions="false"></br-identity> -->
    <pre class="pre-scrollable">{{model.identity | json}}</pre>

    <div class="checkbox">
      <label>
        <input ng-model="model.bypassConfirmation"
          ng-click="model.setBypass()" type="checkbox">
        Forward credentials to <strong>{{ model.callbackHostName }}</strong> without confirmation from now on.
      </label>
    </div>

    <button ng-click="model.transmitCredentials()" type="button"
      ng-disabled="model.transmitDisabled"
      class="btn btn-primary">Send Credentials</button>
    <button ng-click="model.transmitCredentials()" type="button"
      class="btn btn-primary">Cancel</button>
  </div>
  <div ng-if="!model.confirmTransmission">
    You are being redirected to {{ model.callback }}
  </div>
</div>
