<div class="ng-cloak" ng-controller="aiodIssuerController as model">

  <div ng-if="model.view === 'login'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Issuer: Login</h1>
      </div>
    </div>

    <div class="row">
      <p>You must provide your decentralized identifier (DID) to us before
        we can issue a credential to you. To do so, click the button below.</p>
      <button ng-click="model.login()" type="button"
        class="btn btn-primary">Login</button>
      <p></p>
    </div>
  </div>

  <div ng-if="model.view === 'dashboard'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Issuer: Dashboard</h1>
      </div>
    </div>

    <div class="row">
      <p>Your DID: {{model.did}}</p>
      <p>Thank you for providing your decentralized identifier (DID). We are
        now able to issue credentials to you.</p>
      <p>Click below to issue a passport credential and a proof of age
        to yourself. </p>
      <button ng-click="model.issueCredentials()" type="button"
        class="btn btn-primary">Issue Credentials</button>
      <p></p>
    </div>
  </div>

  <div ng-if="model.view === 'acknowledgement'">
    <div class="row">
      <div class="col-md-12">
        <h1 class="headline">Issuer: Acknowledgement</h1>
      </div>
    </div>

    <div class="row">
      <p>The issuer has verified that the following credentials were
        successfully stored at your identity provider:</p>
      <pre class="pre-scrollable">{{model.identity | json}}</pre>
      <button ng-click="model.home()" type="button"
        class="btn btn-primary">Back to demo page</button>
      <p></p>
    </div>
  </div>
</div>
