<br-modal class="aio-native-modal" br-title="Add Identity">
  <br-modal-body>
    <p>
      If you have another identity you'd like to use with this device, you
      must have previously enabled it for use on multiple devices.
    </p>
    <p>
      If you did this already, please enter the email address and password you
      associated with it to add it to this device. If you did not, you'll need
      to use the device you registered with or visit your digital wallet
      provider to register this device.
    </p>
    <div class="row">
      <form name="$ctrl.addIdentityForm" class="form-horizontal aio-form" role="form">
        <fieldset>
          <br-input br-model="$ctrl.email"
            br-input-ng-keyup="$event.keyCode === 13 && !$ctrl.loading &&
              $ctrl.email && $ctrl.passphrase && $ctrl.add()"
            br-options="{
              name: 'email',
              label: 'Email',
              helpTogglePosition: 'afterLabel',
              showValidation: true,
              autofocus: true,
              disabled: {{$ctrl.loading}},
              classes: {
                label: 'col-sm-offset-1 col-sm-11',
                content: 'col-sm-offset-1 col-sm-9',
                help: 'col-sm-offset-1 col-sm-9',
                validation: 'col-sm-offset-1 col-sm-9'
              }
            }" ng-minlength="6" ng-maxlength="128" br-input-autofocus required>
            <br-input-help>
              Please enter the email address you associated with an identity
              that can be used on multiple devices.
            </br-input-help>
            <br-input-validation-errors>
              <p ng-show="$ctrl.addIdentityForm.email.$error.required">
                Email is required.
              </p>
              <p ng-show="$ctrl.addIdentityForm.email.$error.minlength">
                Email is required to be at least 6 characters.
              </p>
              <p ng-show="$ctrl.addIdentityForm.email.$error.maxlength">
                Email must not be longer than 128 characters.
              </p>
            </br-input-validation-errors>
          </br-input>
          <br-input br-model="$ctrl.passphrase"
            br-input-ng-keyup="$event.keyCode === 13 && !$ctrl.loading &&
              $ctrl.email && $ctrl.passphrase && $ctrl.add()"
            br-options="{
              name: 'passphrase',
              label: 'Passphrase',
              type: 'password',
              helpTogglePosition: 'afterLabel',
              showValidation: true,
              disabled: {{$ctrl.loading}},
              classes: {
                label: 'col-sm-offset-1 col-sm-11',
                content: 'col-sm-offset-1 col-sm-9',
                help: 'col-sm-offset-1 col-sm-9',
                validation: 'col-sm-offset-1 col-sm-9'
              }
            }" ng-minlength="6" ng-maxlength="128" required>
            <br-input-help>
              Please enter the password you associated with an identity that
              can be used on multiple devices.
            </br-input-help>
            <br-input-validation-errors>
              <p ng-show="$ctrl.addIdentityForm.passphrase.$error.required">
                Password is required.
              </p>
              <p ng-show="$ctrl.addIdentityForm.passphrase.$error.minlength">
                Password is required to be at least 6 characters.
              </p>
              <p ng-show="$ctrl.addIdentityForm.passphrase.$error.maxlength">
                Password must not be longer than 128 characters.
              </p>
            </br-input-validation-errors>
          </br-input>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="$ctrl.permanent"
                    style="margin-top: 1px">
                    Remember me on this device
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </br-modal-body>
  <br-modal-footer>
    <span ng-show="$ctrl.generating">Please wait, this may take a minute...</span>
    <span ng-show="$ctrl.loading">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
    <span>
      <button type="button" class="btn btn-default aio-button"
        ng-disabled="$ctrl.loading || !$ctrl.email || !$ctrl.passphrase"
        ng-click="$ctrl.add()"><i class="fa fa-check"></i> Add</button>
    </span>
    <button type="button" class="btn btn-default aio-button stackable-cancel"
      ng-disabled="$ctrl.loading">Cancel</button>
  </br-modal-footer>
</br-modal>
