<div ng-hide="$ctrl.loading" class="aio-native-modal" style="min-width: 300px">
  <!-- <div class="aio-arrow-up"></div> -->
  <div class="aio-native-modal-content">
    <div>
      <a ng-click="$ctrl.cancel()" class="close"
        style="margin-top: -10px; margin-right: -5px">&times;<span class="sr-only">Close</span></a>
    </div>
    <div>
      <span><strong>{{$ctrl.relyingParty}}</strong> wants you to:</span>
    </div>
    <br>
    <div ng-if="$ctrl.isCryptoKeyRequest"><i class="fa fa-sign-in"></i> Sign in</div>
    <div ng-if="!$ctrl.isCryptoKeyRequest">
      <span ng-if="$ctrl.op !== 'store'"><i class="fa fa-share-alt"></i> Share credentials</span>
      <span ng-if="$ctrl.op === 'store'"><i class="fa fa-cloud-download"></i> Store credentials</span>
    </div>
    <div style="border: 0; margin-top: 20px; margin-bottom: 10px; border-top: 1px solid #ccc"></div>
    <div>
      <aio-identity-chooser ng-if="$ctrl.display.identityChooser"
        aio-identity-chooser-filter="$ctrl.did"
        aio-enable-registration="$ctrl.enableRegistration"
        aio-on-identity-selected="$ctrl.identitySelected(identity)">
      </aio-identity-chooser>
      <div ng-if="$ctrl.display.authenticating">
        <span>
          <i class="fa fa-refresh fa-spin text-muted"></i> Authenticating...
        </span>
      </div>
      <div ng-if="$ctrl.display.repo">
        <span ng-if="$ctrl.display.repoLoading">
          <i class="fa fa-refresh fa-spin text-muted"></i> Loading your credential repository...
        </span>
        <div ng-show="!$ctrl.display.repoLoading" class="aio-repo-iframe-wrapper">
          <iframe name="repo" ng-src="{{$ctrl.repoUrl}}" class="aio-repo-iframe"
            frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
