<div ng-hide="$ctrl.loading" class="aio-native-modal">
  <!-- <div class="aio-arrow-up"></div> -->
  <div class="aio-native-modal-content ng-class: $ctrl.modalContentClass">
    <div class="aio-flex-item">
      <div>
        <a ng-click="$ctrl.cancel()"
          class="close aio-native-modal-close">&times;<span class="sr-only">Close</span></a>
      </div>
      <div>
        <span>
          <strong>{{$ctrl.relyingParty}}</strong> wants you
          <span ng-if="$ctrl.display.repo && $ctrl.op === 'get' && !$ctrl.isCryptoKeyRequest">
            (<strong><a ng-click="$ctrl.showChooser()">{{$ctrl.identity.label}}</a></strong>)
          </span>
          <span ng-if="$ctrl.display.repo && !($ctrl.op === 'get' && !$ctrl.isCryptoKeyRequest)">
            (<strong>{{$ctrl.identity.label}}</strong>)
          </span>
          to:
        </span>
      </div>
      <br>
      <div ng-if="$ctrl.isCryptoKeyRequest"><i class="fa fa-sign-in"></i> Sign in</div>
      <div ng-if="!$ctrl.isCryptoKeyRequest">
        <span ng-if="$ctrl.op !== 'store'"><i class="fa fa-share-alt"></i> Share credentials</span>
        <span ng-if="$ctrl.op === 'store'"><i class="fa fa-cloud-download"></i> Store credentials</span>
      </div>
      <div ng-if="$ctrl.repoOrigin && $ctrl.display.repo">
        <br>
        <span ng-if="$ctrl.op !== 'store'">via </span>
        <span ng-if="$ctrl.op === 'store'">via </span>
        <span>
          <img style="height: 1em" ng-if="!$ctrl.repoOriginImgError" ng-src="{{$ctrl.repoOrigin}}/favicon.ico" alt="{{$ctrl.repoOrigin" ng-error="$ctrl.repoOriginImgError=true">
          <i class="fa fa-globe" ng-if="$ctrl.repoOriginImgError"></i>
          <strong>{{$ctrl.repoDomain}}</strong>
        </span>
        <div class="aio-separator"></div>
      </div>
    </div>
    <div ng-if="!($ctrl.repoOrigin && $ctrl.display.repo)"
      class="aio-separator aio-flex-item" style="margin-top: 20px"></div>
    <aio-identity-chooser ng-if="$ctrl.display.identityChooser"
      class="aio-flex-item-grow aio-flex-column"
      aio-auto-id-select="$ctrl.autoIdSelect"
      aio-identity-chooser-filter="$ctrl.did"
      aio-enable-registration="$ctrl.enableRegistration"
      aio-on-identity-selected="$ctrl.identitySelected(identity)">
    </aio-identity-chooser>
    <div ng-if="$ctrl.display.authenticating" class="aio-flex-item">
      <i class="fa fa-refresh fa-spin text-muted"></i> Authenticating...
    </div>
    <div ng-if="$ctrl.display.repoLoading" class="aio-flex-item">
      <i class="fa fa-refresh fa-spin text-muted"></i> Loading your wallet...
    </div>
    <iframe ng-if="$ctrl.display.repo" ng-show="!$ctrl.display.repoLoading"
      class="aio-repo-iframe aio-flex-item-grow"
      name="repo" ng-src="{{$ctrl.repoUrl}}"
      frameborder="0"></iframe>
  </div>
</div>
