<button onclick="getCredential()" type="button" class="btn btn-primary">Get Credential</button>
<script>

/*
  This function starts the request for a credential with a form post to 
  authorization.io.
  Posting to /credentials-request starts off a credential request.
  It passes in address as the type of credential and more importantly
  passes in a callback as part of the query.

  This leads to '/credentials-request' in authorizationio.js
*/
function getCredential() {
  navigator.credentials.request({
    '@context': 'https://w3id.org/identity/v1',
    email: ''
  }, {
    requestUrl: 'https://authorization.dev:33443/credentials-request',
    credentialCallback: 'https://authorization.dev:33443/rp'
  });
}

</script>
