<button onclick="createIdentity()" type="button" class="btn btn-primary">Create Identity</button>
<button onclick="acceptCredentials()" type="button" class="btn btn-primary">Accept credentials</button>
<script>
function createIdentity() {
	var queryUrl = '/create-identity';
	  /*queryUrl += '?credentials=true' + '&domain=' + 
	    encodeURIComponent(opts.domain) + '&callback=' + 
	    encodeURIComponent(opts.callback);*/
	var query = {
	  idp: {
	    did: 'foo',
	    url: 'idp'
	  },
	  callback: 'https://loginhub.dev:33443/idp'
	};
	var queryString = escapeHtml(JSON.stringify(query));
	console.log('qs', queryString);
	var form = document.createElement('form');
	form.setAttribute('method', 'post');
	form.setAttribute('action', queryUrl);
	form.innerHTML = 
	  '<input type="hidden" name="callerData" value="' + queryString + '" />';
	form.submit();

	function escapeHtml(str) {
	  return str
	    .replace(/&/g, '&amp;')
	    .replace(/</g, '&lt;')
	    .replace(/>/g, '&gt;')
	    .replace(/"/g, '&quot;');
	}
}

/**
	This function is triggered by clicking acceptCredentials.
	Accept Credentials sends a json object called credentials back
	towards a credential consumer. To do this, it posts to loginhub's
	/credentials-approve url passing on the id associated with this 
	credential approval, and also the actual object that has the
	credentials within it.

	This function leads to '/credentials-approve' in loginhub.js
*/
function acceptCredentials() {

	var queryUrl = '/credentials-approve';
	var query = {
	  	credentials: {
      		type: 'address'
		}
	};

	var id = param('id');

	queryUrl += '?id=' + id;

	var queryString = escapeHtml(JSON.stringify(query));

	var form = document.createElement('form');
	form.setAttribute('method', 'post');
	form.setAttribute('action', queryUrl);
	form.innerHTML = 
	  '<input type="hidden" name="callerData" value="' + queryString + '" />';
	form.submit();

	function escapeHtml(str) {
	  return str
	    .replace(/&/g, '&amp;')
	    .replace(/</g, '&lt;')
	    .replace(/>/g, '&gt;')
	    .replace(/"/g, '&quot;');
	}
	function param(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
}
</script>
