<h1>Register</h1>

<div ng-controller="RegisterController as model">
  <form class="form-horizontal" role="form">
    <fieldset>
      <br-input br-model="model.username" 
        br-options="{name: 'username', label: 'Username'}">
        Please enter your loginhub Username.
      </br-input>
      <br-input br-model="model.password"
         br-options="{name: 'password', label: 'Password', type: 'password'}">
        Please enter your loginhub Password.
      </br-input>
      <br-input br-model="model.passwordConfirmation"
         br-options="{name: 'password', label: 'Confrim Password', type: 'password'}">
        Please confirm your loginhub Password.
      </br-input>
      <div style="text-align:center;">
        <button ng-click="model.register()" type="button" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
