<div class="aio-native-modal">
  <!-- <div class="aio-arrow-up"></div> -->
  <div class="aio-native-modal-content">
    <div>
      <a ng-click="$ctrl.onDeny()" class="close"
        style="margin-top: -10px; margin-right: -5px">&times;<span class="sr-only">Close</span></a>
    </div>
    <div style="min-width: 300px">
      <span><strong>{{$ctrl.domain}}</strong> wants to:</span>
    </div>
    <br>
    <div><i class="fa fa-id-card"></i> Register a digital wallet</div>
    <br>
    <div class="aio-button-bar" style="margin-top: 10px">
      <button
        ng-click="$ctrl.onDeny()"
        ng-disabled="$ctrl.registering || $ctrl.generating"
        type="button" class="btn btn-default aio-button">Deny
      </button>
      <button
        ng-click="$ctrl.onAllow()"
        ng-disabled="$ctrl.registering || $ctrl.generating"
        type="button" class="btn btn-default aio-button">Allow
        <span ng-if="$ctrl.registering || $ctrl.generating">
          <i class="fa fa-refresh fa-spin"></i>
        </span>
      </button>
    </div>
  </div>
</div>
