<div ng-controller="IdpTestController as model">
  <div ng-if="model.display.form">
    <h3 align="center">Build a mock credential consumer query:</h3>
    <form name="idptestform" class="form-horizontal" role="form">
      <br-input br-model="model.idp.url"
        br-options="{name: 'idp-url', label: 'IDP URL'}">
        Enter the URL for the IDP
      </br-input>
      <br-textarea br-model="model.idp.query"
        br-options="{name: 'idp-query', label: 'IDP Query'}">
        Enter the query for the IDP
      </br-textarea>
      <div style="text-align:center;">
        <button ng-click="model.clearForm('url')" class="btn btn-primary">Clear URL</button>
        <button ng-click="model.clearForm('query')" class="btn btn-primary">Clear Query</button>
        <button ng-click="model.clearForm()" class="btn btn-primary">Clear All</button>
        <button ng-click="model.send()" class="btn btn-success">Send</button>
      </div>
    </form>
  </div>
  <div ng-if="model.display.identity">
    <h3>This is the identity returned from the IDP</h3>
    <div class="row">
      <button ng-click="model.startOver()" class="btn btn-success">Start Over</button>
      <h5>&nbsp</h5>
    </div>
    <div class="row">
      <pre>{{ model.identity | json }}</pre>
    </div>
    <div class="row">
      <button ng-click="model.startOver()" class="btn btn-success">Start Over</button>
    </div>
  </div>
</div>
