<div ng-controller="aiodCredentialManagerController as model">

  <div ng-if="model.loading">
    <span>
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </div>
  <div ng-if="!model.loading">
    <div ng-if="model.view === 'get' && model.identity"
      style="display:flex;flex-direction:column;flex-wrap:wrap;height:100vh;">
      <div style="flex:1;align-self:flex-start;margin:auto;">
        <br-identity-composer
          br-credential-query="model.query"
          br-identity="model.identity"
          br-on-composed="model.complete(profile)">
        </br-identity-composer>
      </div>
    </div>

    <div ng-if="model.view === 'store'"
      style="display:flex;flex-direction:column;flex-wrap:wrap;height:100vh;">
      <div style="flex:1;align-self:flex-start;margin:auto;">
        <div class="credential-task-credential" ng-repeat="credential in model.credentials"
          style="width:100%">
          <br-credential
            br-credential="credential"
            br-show-actions="false"
            br-options="{
              displayer: {style: {width: '95vw'}}
            }">
          </br-credential>
        </div>
      </div>
      <div style="flex:0 1 auto;align-self:flex-end;">
        <button ng-click="model.complete(null)"
          type="button" class="btn btn-default">Deny
        </button>
        <button ng-click="model.complete(model.identity)"
          type="button" class="btn btn-default">Allow
        </button>
      </div>
    </div>
  </div>
</div>
