<div class="row" ng-controller="aioAgentController as model">
  <div class="aio-op-header-wrapper">
    <div class="aio-op-header">
      <div class="callout callout-primary">
        <a ng-click="model.cancel()" class="close">&times;<span class="sr-only">Close</span></a>
        <div ng-if="model.isCryptoKeyRequest">
          <h4>
            Sign in Request
          </h4>
          <p>
            <strong>{{model.relyingParty}}</strong> wants you to sign in.
          </p>
        </div>
        <div ng-if="!model.isCryptoKeyRequest">
          <h4>
            Credential {{(model.op === 'store' && 'Storage') || ''}} Request
          </h4>
          <p>
            <strong>{{model.relyingParty}}</strong> has requested <span ng-show="model.op === 'store'">to store </span> credentials.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="aio-op-content">
    <aio-identity-chooser ng-if="model.display.identityChooser"
      aio-identity-chooser-filter="model.did"
      aio-identity-chooser-callback="model.complete(err, session)">
    </aio-identity-chooser>
    <div ng-if="model.display.authenticating">
      <span>
        <i class="fa fa-refresh fa-spin text-muted"></i> Authenticating...
      </span>
    </div>
    <div ng-if="model.display.repo">
      <span ng-if="model.display.repoLoading">
        <i class="fa fa-refresh fa-spin text-muted"></i> Loading your credential repository...
      </span>
      <div ng-show="!model.display.repoLoading" class="aio-repo-iframe-wrapper">
        <iframe name="repo" ng-src="{{model.repoUrl}}" class="aio-repo-iframe"
          frameborder="0"></iframe>
      </div>
      <p></p>
    </div>
  </div>
</div>
