<div class="row" ng-controller="aioAgentController as model">
  <div class="aio-op-header">
    <div class="callout callout-primary">
      <h4>
        Credential {{(model.op === 'store' && 'Storage') || ''}} Request <small>(<a ng-click="model.cancel()">Cancel</a>)</small>
      </h4>
      <p>
        <strong>{{model.relyingParty}}</strong> has requested <span ng-show="model.op === 'store'">to store </span> credentials.
      </p>
    </div>
  </div>
  <div class="aio-op-content">
    <aio-identity-chooser ng-if="model.display.identityChooser"
      aio-identity-chooser-filter="model.did"
      aio-identity-chooser-callback="model.complete(err, session)">
    </aio-identity-chooser>
    <div ng-if="model.display.repo">
      <div class="aio-repo-iframe-wrapper">
        <iframe name="repo" ng-src="{{model.repoUrl}}" class="aio-repo-iframe"
          frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>
