<h1 align="center">Issuer Login</h1>

<button onclick="login()" type="button"
  class="btn btn-primary">Login</button>

<script>
// if DID is set, go to issuer dashboard
if(/did=did/.test(document.cookie)) {
  window.location = window.data.baseUri + '/issuer/dashboard'
}

function login() {
  navigator.credentials.request({
    '@context': 'https://w3id.org/identity/v1',
    'id': ''
  }, {
    requestUrl: window.data.baseUri + '/requests',
    credentialCallback: window.data.baseUri + '/issuer/dashboard'
  });
}
</script>
