<h1 align="center">Issuer: Login</h1>

<p>
You must provide your decentralized identifier (DID) to us before
we can issue a credential to you. To do so, click the button below.
</p>

<button onclick="login()" type="button"
  class="btn btn-primary">Login</button>

<script>
function login() {
  navigator.credentials.request({
    '@context': 'https://w3id.org/identity/v1',
    'id': ''
  }, {
    requestUrl: window.data.baseUri + '/requests',
    credentialCallback: window.data.baseUri + '/issuer/dashboard'
  });
}
</script>
